body{ 
    margin: 0px;
    font-family: 'Mouse Memoirs','Arial';
}
.div-image-wrapper{
    background-color:brown ;
    text-align: center;
    color: white;
    padding: 25px;
}   
.image-class{
    width: 300px;
    border-radius:150px ;
    align-content: center;
}
#para1-style{
    font-size: 35px;
    font-weight: bold;
}
#para2-style{
    font-weight: bold;
    font-style: italic ;
    font-size: 25px;
}
.div-about{
    background-color:#00b4d8;
    margin: 70px;
    text-align: center;
    color: black;
    padding: 25px;
    border-radius:35px ;
}
#para3-style{
    font-weight: bold ;
    text-align: left ;
    font-size: 25px;
}
#para4-style{
    text-align: left;
    font-size: 25px ;
    font-style: italic ;
    line-height: 25px;
}
.hobby{
    text-align: left;
    font-size: 35px ;
    font-style: italic ;
    padding-top :5px;
    margin: 70px;
    border-top: 5px solid red;
    color: #0a9396;
}
#para6-style{
    text-align: center;
    font-size: 35px ;
    font-style: italic ;
    font-weight: bold ;
    padding: 10px;
    margin: 70px;
    border-top: 5px solid red;
}
.image-class1{
    width: 200px;
    padding: 20px;
    border-style: solid ;
    border-color: black ;
}
.movie-list-item{
    text-align: center;
    font-weight: bold;
    display:inline-block ;
}
.Information-div{
    font-size: 25px ;
    
}